<div id="blogLight">
	<#loop:blog.itemsArchived#>
	<div class="blogLoop">
   	  <div class="imageFloat">
            	<#loop:blog.itemsArchived.images.thumb#>
	    		<div class="blogImage"><img src='{blog.itemsArchived.images.thumb.src}' alt="{blog.itemsArchived.itemTitle}" border="0"/>
                <#if:blog.itemsArchived.images.thumb.name:neq:blank#><div class="imageDescription">{blog.itemsArchived.images.thumb.name}</div><#/if#>
                </div>
                <#/loop#>
                <div class="clear"></div> 
      </div>
      <div class="share">
      	<span class='st_sharethis_hcount' displayText='ShareThis'></span>
		</div>  
              <span class="blogTitle">{blog.itemsArchived.itemTitle}</span>
              


{blog.itemsArchived.itemContent}&nbsp;&nbsp
<div class="date colour_{blog.blogID}">Posted {blog.itemsArchived.displayDate}</div>
              <div class="blogPad"></div>
      			
                
                
                <div class="clear"></div>
			</div>
 		<#/loop#>
</div>